#########################
## Exploit Hackteam PT ##
#########################

Sê Bem Vindos ao nosso spot de scripts e explicações acerca
                       de tudo.

-------------.-------------.-------------.-------------.-----

